<?xml version="1.0" encoding="utf-8"?>
<!--
         Copyright Jens Granlund 2011.
     Distributed under the New BSD License.
    (See accompanying file notice.txt or at 
http://www.opensource.org/licenses/bsd-license.php)
-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CrcStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CrcStudio.Properties.Settings>
      <setting name="LogFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFileMaxSize" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LogFileDateTimeFormat" serializeAs="String">
        <value>yyyy-MM-dd HH:mm:ss</value>
      </setting>
    </CrcStudio.Properties.Settings>
  </userSettings>
</configuration>